body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
header {
    background-color: #0057b7;
    color: white;
    text-align: center;
    padding: 20px;
}

.noticia {
    background-color: white;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
}
.noticia img {
    width: 100%;
    border-radius: 5px;
}
